{% extends 'core/base.html' %}
{% block title %}Registrace | Y - The nothing app{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h2><i class="fas fa-user-plus"></i> Registrace</h2>
            </div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Vytvořit nový účet</legend>
                        {% for field in form %}
                        <div class="mb-3">
                            {{ field.label_tag }}
                            {{ field }}
                            {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text }}</small>
                            {% endif %}
                            {% for error in field.errors %}
                            <div class="invalid-feedback d-block">{{ error }}</div>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Zaregistrovat se</button>
                    </div>
                </form>
                <div class="border-top pt-3">
                    <small class="text-muted">
                        Už máte účet? <a class="ml-2" href="{% url 'login' %}">Přihlaste se</a>
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}